################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.sqlite
*.dll
*.pdb
/src/MongoDbLibrary/MongoDbLibrary.Mongo/obj
/src/MongoDbLibrary/MongoDbLibrary.Mongo/bin/*
/src/MongoDbLibrary/.vs/*
/.vs
*.dtbcache
src/.vs/*
src/MongoDbLibrary.Mongo/bin/*
src/MongoDbLibrary.Mongo/obj/*
